
@{
    ViewBag.Title = "CST";
    Layout = "~/Views/Shared/Dashboard.cshtml";
}


<script src="~/jquery/CST.js"></script>
<script src="~/asset/Common.js"></script>



<br />
<div class="row clearfix">
    <div class="col-md-12" style="">
        <div class="card">
            <div class="header">
                <h5>SubjectDetails</h5>
            </div>
            <div class="body">
                <form id="basic-form" method="post" novalidate>
                    <div class="row">
                        <div class="col-md-6">



                            <div class="form-group">
                                <label>Subject :</label>
                                <select id="CST_Sb" class="form-control" required>
                                    <option value="">Select...........</option>
                                    @foreach (var item in ViewBag.sb)
                                    {
                                        <option value="@item.Subject_Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Class</label>
                                <select id="CST_Cl" class="form-control" required>
                                    <option value="">Select...........</option>
                                    @foreach (var item in ViewBag.cl)
                                    {
                                        <option value="@item.Class_Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Section</label>
                                <select id="CST_Sc" class="form-control" required>
                                    <option value="">Select...........</option>
                                    @foreach (var item in ViewBag.sc)
                                    {
                                        <option value="@item.Section_Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Teacher</label>
                                <select id="CST_St" class="form-control" required>
                                    <option value="">Select...........</option>
                                    @foreach (var item in ViewBag.st)
                                    {
                                        <option value="@item.Staff_Id">@item.Name</option>
                                    }
                                </select>
                            </div>




                        </div>
                        
                    </div>

                    <button type="button" class="btn  btn-primary btn-block col-md-6" onclick="CST()">Save</button>
                </form>
            </div>
        </div>
    </div>

</div>


